.spacer {
  flex: 1 1 auto;
}
.toolbar {
	vertical-align: top;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

// .sidenav {
// 	// width: 20%;
// 	// align-content: center;
// }

.sidenav-list {
	display: flex;
	height: 100%;
	flex-direction: column;
	-ms-flex-direction: column;
	align-items: center;
}

.sidenav-btn {
	width: 100%;
	// font-size: 32px;
	border-radius: 0;
	font-size: 2rem;
	padding-top: 32px;
	padding-bottom: 32px;
}