<mat-sidenav-container class="container" autosize>
  <mat-sidenav #drawer mode="over" autoFocus="false">
		<mat-nav-list>
			@for (nav of navItems; track nav) {
				<a mat-list-item (click)="goto(nav.page)">{{nav.title}}</a>
				<mat-divider/>
			}
			<!-- <span class="spacer"></span> -->
			<div class="bottom-icon">
				<img src="assets/Logo.svg" width="48pt"/>
			</div>
		</mat-nav-list>
  </mat-sidenav>

	<mat-sidenav-content>
		<div class="sidenav-content">
			<ng-content/>
			<mat-toolbar color="primary" class="toolbar">
				<button mat-icon-button (click)="drawer.toggle()" matTooltip="Open menu">
					<mat-icon>menu</mat-icon>
				</button>
				<span class="spacer"></span>
				<span>{{title}}</span>
				<span class="spacer"></span>
				<div *ngIf="isDarkMode; else elseBlock">
					<button (click)="toggleDarkMode()" matTooltip="Switch to light mode" mat-icon-button>
						<mat-icon>light_mode</mat-icon>
					</button>
				</div>
				<ng-template #elseBlock>
					<button (click)="toggleDarkMode()" matTooltip="Switch to dark mode" mat-icon-button>
						<mat-icon>dark_mode</mat-icon>
					</button>
				</ng-template>
			</mat-toolbar>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
