.spacer {
  flex: 1 1 auto;
}
.toolbar {
	vertical-align: top;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.sidenav {
	width: 20%;
	align-content: center;
}

.sidenav .sidenav-btn {
	width: 100%;
	font-size: 32px;
	padding-top: 32px;
	padding-bottom: 32px;
}