@use '@angular/material' as mat;
@use "sass:map";
@include mat.core();

@font-face {
  font-family: 'Crimson';
  src: url('assets/fonts/crimson/crimson.roman.otf') format('opentype');
}

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
 // Only include `typography` and `density` in the default dark theme.
 typography: mat.define-typography-config(
    $font-family: 'Crimson',
  ),
 density: 0,
));

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(
    $font-family: 'Crimson',
  ),
  density: 0,
));

@include mat.all-component-themes($light-theme);

.dark-theme {
  color: white;
  background-color: map.get(map.get($dark-theme, background), background);
  @include mat.all-component-themes($dark-theme);
}

body { margin: 0; }
html, body { height: 100%; }